<div class="container">
  <div class="row">
  <div class="col-md-6">
    <div class="row">
      <div>
        <label class="fw-normal fs-6 text-primary text-start" for="id_product">Id</label>
        <input type="text" id="id_product" class="form-control form-control-lg"
        [(ngModel)]="this.product.id_product" disabled/>
      </div>
      <div>
        <p class="fw-normal fs-6 text-primary text-start" for="id_product">Producto</p>
        <input type="text" id="product" class="form-control form-control-lg" [(ngModel)]="this.product.product_name"/>
      </div>
      <div>
        <p class="fw-normal fs-6 text-primary text-start" for="id_product">Stock</p>
        <input type="number" id="product" class="form-control form-control-lg" [(ngModel)]="this.product.stock"/>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div>
        <label class="fw-normal fs-6 text-primary text-start" for="id_product">Categoria</label>
        <input type="text" id="categoria" class="form-control form-control-lg" [(ngModel)]="this.product.categoria"/>
      </div>
      <div>
        <p class="fw-normal fs-6 text-primary text-start" for="id_product">Marca</p>
        <input type="text" id="marca" class="form-control form-control-lg" [(ngModel)]="this.product.marca"/>
      </div>
      <div>
        <p class="fw-normal fs-6 text-primary text-start" for="id_product">Serie</p>
        <input type="text" id="serie" class="form-control form-control-lg" [(ngModel)]="this.product.serie"/>
      </div>
    </div>
  </div>
</div>
<p-divider></p-divider>
<div class="row">
  <div class="col-md-7">
    <button pButton pRipple type="button" label="Aceptar" class="p-button-outlined"></button>
  </div>
</div>
</div>
